HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Environments
src/main/resources/application.properties
application.properties
!application.properties.example


### VS Code ###
.vscode/

# Logs
*.log
test_output.log
test-results
uploads/proofs